#greycol {
    color: gray;
}

.yellow {
    color: yellow;
}

.text-box>h3:first-child {
    color: pink;
}

.text-box>div>p {
    color: red;
}

.text-box h3:nth-child(6) + p {
    color: green;
}